@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
:root {
  --white: #fff;
  --red: #b40000;
  --blue: #0B3D8C;
  --gray: #dedede;
  --black:#0d0d0d;
  --orange:#72706c;
  --pink:#ff3489;
  --purple:#ad48ff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

html {
  font-size: 12.5px;
}

body {
  text-rendering: optimizeSpeed;
  position: relative;
  height: auto;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  line-height: 1.6;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  opacity: 0.7;
}

.br-sp {
  display: none;
}

.pc-display {
  display: block;
}

.sp-display {
  display: none;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.inner {
  width: 70vw;
  margin: 0 auto;
}

.heading {
  font-size: 3vw;
  text-align: center;
}

.buy-pickel {
  position: fixed;
  z-index: 100;
  width: 11vw;
  right: 0;
  top: 6vw;
}
.buy-pickel a {
  display: block;
  width: 100%;
}
.buy-pickel a img {
  width: 100%;
}

.gnav {
  position: fixed;
  z-index: 101;
  width: 100%;
  background: url(img/menu-bg.png) center center no-repeat;
  background-size: cover;
  padding: 0.4vw 0;
}
.gnav .gnav-wrapper {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gnav .gnav-wrapper .logo {
  background: white;
  padding: 0.2vw 0.5vw;
}
.gnav .gnav-wrapper .logo p {
  font-size: 1vw;
  color: black;
}
.gnav .gnav-wrapper nav {
  display: block;
}
.gnav .gnav-wrapper nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gnav .gnav-wrapper nav ul li {
  display: block;
  margin-left: 3vw;
}
.gnav .gnav-wrapper nav ul li a {
  font-size: 1vw;
  color: white;
}

.section1 {
  width: 100%;
  height: 40.4vw;
  background: url(img/mainvisual.png) center bottom no-repeat;
  background-size: contain;
}

.section2 {
  width: 100%;
}
.section2 .komonjo {
  width: 100%;
  margin: 0 auto;
}
.section2 .komonjo img {
  width: 100%;
  display: block;
}

.tapestry {
  width: 100%;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
  background-color: rgb(37, 67, 68);
}
.tapestry .tapestry-wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tapestry .tapestry-wrapper .tapestrys {
  width: 22%;
  position: relative;
  z-index: 1;
}

.about-emi {
  width: 100%;
  background-color: #eedbb2;
  padding-top: 2.5vw;
}
.about-emi h2 {
  text-align: center;
  font-size: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.about-emi .about-emi-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.about-emi .about-emi-wrapper .about-emis {
  background: url(img/sekiban.png) center center no-repeat;
  background-size: contain;
  width: 43%;
  background-color: rgb(101, 101, 101);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vw 2vw 8vw 2vw;
  margin-bottom: 3vw;
}
.about-emi .about-emi-wrapper .about-emis h3 {
  padding-left: 2vw;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 0.5vw;
  color: white;
  text-shadow: 3px 3px 3px #000;
}
.about-emi .about-emi-wrapper .about-emis p {
  font-size: 0.8vw;
  color: white;
  text-shadow: 3px 3px 3px #000;
  width: 45%;
  margin: 0 auto;
}

.card {
  width: 100%;
  background-color: skyblue;
  padding: 2vw 0;
}
.card .card-inner {
  width: 80vw;
  margin: 0 auto;
}
.card .card-inner .card-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.card .card-inner .card-wrapper .cards {
  background-color: white;
  padding: 1vw;
  width: 23%;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.card .card-inner .card-wrapper .cards img {
  display: block;
  width: 100%;
  margin-bottom: 1vw;
}
.card .card-inner .card-wrapper .cards p {
  font-size: 0.7vw;
}

.partners {
  width: 100%;
  padding: 4vw 0;
  height: auto;
  background-color: #2D1925;
}
.partners .partners-inner {
  width: 80vw;
  margin: 0 auto;
}
.partners .partners-inner .partners-content .tapestry-bg {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.partners .partners-inner .partners-content .tapestry-bg img {
  width: 100%;
  display: block;
}
.partners .partners-inner .partners-content .tapestry-bg .partners-contents {
  position: absolute;
  top: 12vw;
  z-index: 2;
  left: 0;
}
.partners .partners-inner .partners-content .tapestry-bg .partners-contents .partners-list {
  width: 50%;
  margin: 0 auto;
}
.partners .partners-inner .partners-content .tapestry-bg .partners-contents .partners-list a {
  width: 100%;
  display: block;
}
.partners .partners-inner .partners-content .tapestry-bg .partners-contents .partners-list a img {
  width: 100%;
}

.roadmap {
  width: 100%;
  height: 30vw;
  background-color: #c5c5c5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.roadmap p {
  font-size: 2vw;
  margin: 0 auto;
}

.contact-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 4vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 52, 230)), to(rgb(21, 33, 73)));
  background: -webkit-linear-gradient(top, rgb(0, 52, 230) 0%, rgb(21, 33, 73) 100%);
  background: linear-gradient(180deg, rgb(0, 52, 230) 0%, rgb(21, 33, 73) 100%);
}
.contact-wrapper .contact-inner {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2vw;
}
.contact-wrapper .contact-inner h2 {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 2vw;
  color: #fff;
}
.contact-wrapper .contact-inner form {
  width: 100%;
  display: block;
}
.contact-wrapper .contact-inner form .input-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw 0;
}
.contact-wrapper .contact-inner form .input-form label {
  display: block;
  width: 30%;
  font-size: 1vw;
  color: #fff;
}
.contact-wrapper .contact-inner form .input-form input, .contact-wrapper .contact-inner form .input-form textarea, .contact-wrapper .contact-inner form .input-form select {
  display: block;
  width: 60%;
  border-radius: 0.2vw;
  border: none;
  padding: 0.3vw;
}
.contact-wrapper .contact-inner form .input-form textarea {
  height: 10vw;
}
.contact-wrapper .contact-inner .submit {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding: 0.5vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: rgb(214, 214, 214);
  -webkit-box-shadow: 0 0.2vw 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.2vw 0 rgba(0, 0, 0, 0.6);
}






@media screen and (max-width: 390px) {
  .br-sp {
    display: block;
  }

  .pc-display {
    display: none;
  }

  .sp-display {
    display: block;
  }

  .container {
    width: 90vw;
    margin: 0 auto;
  }

  .buy-pickel {
    position: fixed;
    z-index: 100;
    width: 15vw;
    right: 0;
    top: 14vw;
  }
  .buy-pickel a {
    display: block;
    width: 100%;
  }
  .buy-pickel a img {
    width: 100%;
  }

  .gnav {
    position: fixed;
    z-index: 101;
    width: 100%;
    background-color: black;
    padding: 2vw 0;
  }
  .gnav .gnav-wrapper {
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gnav .gnav-wrapper .logo {
    background: white;
    padding: 0.2vw 0.5vw;
  }
  .gnav .gnav-wrapper .logo p {
    font-size: 3vw;
    color: black;
  }
  .gnav .gnav-wrapper nav {
    display: block;
  }
  .gnav .gnav-wrapper nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gnav .gnav-wrapper nav ul li {
    display: block;
  }
  .gnav .gnav-wrapper nav ul li a {
    font-size: 3vw;
    color: white;
  }

  .section1 {
    width: 100%;
    height: 47vw;
    background: url(img/mainvisual.png) center bottom no-repeat;
    background-size: contain;
  }

  .section2 {
    width: 100%;
  }
  .section2 .komonjo {
    width: 100%;
    margin: 0 auto;
  }
  .section2 .komonjo img {
    width: 100%;
    display: block;
  }

  .tapestry {
    width: 100%;
  }
  .tapestry .tapestry-wrapper {
    width: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tapestry .tapestry-wrapper .tapestrys {
    width: 80%;
    margin: 4vw auto;
    position: relative;
    z-index: 1;
  }

  .about-emi {
    width: 100%;
    background-color: #eedbb2;
    padding-top: 13.5vw;
  }
  .about-emi h2 {
    text-align: center;
    font-size: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .about-emi .about-emi-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .about-emi .about-emi-wrapper .about-emis {
    width: 100%;
    background-color: transparent;
    background-size: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 4vw 4vw 32vw 4vw;
    margin: 6vw 0;
    height: 94vw;
  }
  .about-emi .about-emi-wrapper .about-emis h3 {
    padding-top: 5vw;
    text-align: center;
    font-size: 4.5vw;
    padding-bottom: 3vw;
    text-shadow: 3px 3px 3px #000;
  }
  .about-emi .about-emi-wrapper .about-emis p {
    font-size: 3.5vw;
    margin: 0 auto;
    width: 60%;
    text-shadow: 3px 3px 3px #000;
  }

  .partners {
    width: 100%;
    margin: 5vw 0;
    height: auto;
  }
  .partners .partners-inner {
    width: 100%;
    margin: 0 auto;
  }
  .partners .partners-inner .partners-content .tapestry-bg {
    width: 85%;
    margin: 0 auto;
    position: relative;
  }
  .partners .partners-inner .partners-content .tapestry-bg img {
    width: 100%;
    display: block;
  }
  .partners .partners-inner .partners-content .tapestry-bg .partners-contents {
    position: absolute;
    top: 20vw;
    z-index: 2;
    left: 0;
  }
  .partners .partners-inner .partners-content .tapestry-bg .partners-contents h3 {
    text-align: center;
    font-size: 4vw;
    color: white;
    padding-bottom: 3vw;
  }
  .partners .partners-inner .partners-content .tapestry-bg .partners-contents p {
    color: white;
    font-size: 3vw;
    padding-bottom: 1vw;
  }

  .roadmap {
    width: 100%;
  }
  .roadmap p {
    font-size: 4vw;
  }

  .card {
    width: 100%;
    margin-top: 0;
    background-color: skyblue;
    padding: 2vw 0;
  }
  .card .card-inner {
    width: 85vw;
    margin: 0 auto;
  }
  .card .card-inner .card-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .card .card-inner .card-wrapper .cards {
    background-color: white;
    padding: 4vw;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .card .card-inner .card-wrapper .cards img {
    display: block;
    width: 100%;
    margin-bottom: 3vw;
  }
  .card .card-inner .card-wrapper .cards p {
    font-size: 3vw;
  }

  .contact-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 26vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 52, 230)), to(rgb(21, 33, 73)));
    background: -webkit-linear-gradient(top, rgb(0, 52, 230) 0%, rgb(21, 33, 73) 100%);
    background: linear-gradient(180deg, rgb(0, 52, 230) 0%, rgb(21, 33, 73) 100%);
  }
  .contact-wrapper .contact-inner {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4vw;
  }
  .contact-wrapper .contact-inner h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 6vw;
    color: #fff;
  }
  .contact-wrapper .contact-inner form {
    width: 100%;
    display: block;
  }
  .contact-wrapper .contact-inner form .input-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 4vw 0;
  }
  .contact-wrapper .contact-inner form .input-form label {
    display: block;
    width: 100%;
    font-size: 3.8vw;
    text-align: center;
    color: #fff;
    margin-bottom: 1vw;
  }
  .contact-wrapper .contact-inner form .input-form input, .contact-wrapper .contact-inner form .input-form textarea, .contact-wrapper .contact-inner form .input-form select {
    display: block;
    width: 100%;
    border-radius: 1vw;
    border: none;
    padding: 1vw;
  }
  .contact-wrapper .contact-inner form .input-form textarea {
    height: 10vw;
  }
  .contact-wrapper .contact-inner .submit {
    width: 100%;
    display: block;
    margin: 10vw auto 0;
    padding: 1.8vw;
    font-size: 3.2vw;
    border-radius: 1vw;
    border: none;
    background-color: rgb(214, 214, 214);
    -webkit-box-shadow: 0 0.2vw 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0 0.2vw 0 rgba(0, 0, 0, 0.6);
  }
}/*# sourceMappingURL=style.css.map */